# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Env / secrets
.env
*.env

# Indexes and data
backend/faiss_index/
data/
*.faiss
*.pkl
*.npz
files
medical.pdf

# Node
frontend/node_modules/
frontend/dist/

# Misc
.DS_Store
Thumbs.db
*.log