fastapi>=0.110.0
uvicorn[standard]>=0.29.0
boto3>=1.34.0
python-dotenv>=1.0.0
pypdf>=4.0.0
python-multipart>=0.0.9
rank-bm25>=0.2.2
pyspellchecker>=0.8.1
faiss-cpu>=1.7.4
numpy>=1.24.0
pydantic>=2.5.0
pydantic-settings>=2.1.0
sentence-transformers>=2.5.0
pytesseract>=0.3.10
pdf2image>=1.17.0
